name: Kubernetes CI
on:
  push:
    branches:
      - main

jobs:
  pyapp-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Build Docker Image
        run: "docker build -t kuchalakantikris/pyapp:${GITHUB_SHA::7} ."
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_PASSWORD }}"
      - name: Push Docker Image to Docker Hub
        run: "docker push kuchalakantikris/pyapp:${GITHUB_SHA::7}"
      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq
      - name: Update deployment.yml with latest docker tag
        run: |
          # Short commit hash
          SHORT_SHA=${GITHUB_SHA::7}
          # Update image tag in deployment.yaml
          yq -i '.spec.template.spec.containers[0].image = "kuchalakantikris/pyapp:'"$SHORT_SHA"'"' ./k8s/pyapp-deployment.yml
      - name: Commit deployment file changes
        run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions@noreply"
            git add k8s/pyapp-deployment.yml
            git commit -m 'docker tag updated by GHA' || echo "Already commited changes"
            git push origin main
